.chat-page {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.left-section {
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 30%;
	height: 100%;
	background: #f4f5f7;
	/* box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1); */
}

.left-header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 0.5rem;
}

.user-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}
.main-section {
	position: absolute;
	right: 0;
	text-align: center;
	width: 70%;
	height: 100%;
	background: #fff;
	box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
}

.chat-header {
	width: 100%;
	height: 8%;
	border-bottom: 1px solid rgb(233, 233, 233);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	align-items: center;
}

.chat-body {
	width: 100%;
	height: 85%;
	overflow: scroll;
	scroll-behavior: smooth;
	padding-bottom: 0.5rem;
}

.chat-body::-webkit-scrollbar {
	display: none;
}

.user-message {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0.3rem;
}

.other-message {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0.3rem;
}

/* .message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    word-wrap: break-word;
    overflow: break-word;

} */

.user-message-box {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	max-width: 40%;
	height: auto;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.4rem;
	padding-bottom: 0.3rem;
	border-radius: 0.5rem;
	border-top-right-radius: 0.2rem;
	/* border-radius: 10px; */
	font-size: 0.85rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
	background: #007aff;
	color: white;
}

.other-message-box {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	max-width: 40%;
	height: auto;
	background: #f2f2f7;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.4rem;
	padding-bottom: 0.3rem;
	border-radius: 0.5rem;
	border-top-left-radius: 0.2rem;
	/* border-radius: 10px; */
	color: black;
	font-size: 0.85rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.chat-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.7rem;
	width: 100%;
	height: 7%;
	display: flex;
	flex-direction: row;
	border-top: 1px solid rgb(233, 233, 233);
}

.search-bar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-self: center;
	padding: 0.7rem;
	background: white;
	border-radius: 0.5rem;
	margin: 0.5rem;
}

.message-input {
	width: 100%;
	justify-content: center;
	align-self: flex-start;
	height: 100%;
	border: none;
	padding: 0.3rem;
	border: none;
	outline: none;
	font-size: 0.8rem;
}
.search-input {
	width: 90%;
	/* justify-content: flex-start */
	height: 100%;
	border: none;
	padding: 0.3rem;
	border: none;
	outline: none;
	font-size: 0.8rem;
}

.message-input-container {
	max-width: 100%;
	justify-content: flex-start;
	align-self: flex-start;
	height: 100%;
}

.list {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
}

.send-button {
	/* width: 50%; */
	justify-content: center;
	align-items: center;
	outline: none;
}

.send-button:hover {
	fill: #007aff;
	cursor: pointer;
}

.chat-member-title {
	display: flex;
	flex-direction: column;
	background-color: #000;
}

.right-section {
	position: absolute;
	right: 0;
	text-align: center;
	width: 25%;
	height: 100%;
	background: #f4f5f7;
	/* box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1); */
}

@media screen and (max-width: 600px) {
	.right-section {
		display: none;
	}
	.left-section {
		width: 100%;
	}
	.chat-page {
		display: block;
	}
	.main-section {
		position: none;
		width: 100%;
	}
}
