@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face {
  font-family: sf-pro;
  src: url(./assets/fonts/FontsFree-Net-SFProText-Regular-1.ttf);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sf-pro;
}

.App {
  height: 100%;
  width: 100%;
}

.login-page {
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
}

.stack {
  position: absolute;
  left: 0%;
  width: 50%;
  height: 100%;
  background: #007AFF;
}

.hero-container {
  flex-direction: row;
  justify-content: space-between;
}

.hero-title {
  position: relative;
  left: 18%;
  top: 20%;
  font-size: 1.3rem;
  color: #FFF;
}

.gif{
  position: relative;
  left: 20%;
  top: 20%;
}
/* .gif {
  align-self: center;
  
} */

.login-container {
  position: absolute;
  right: 20%;
  top: 40%;
  justify-content: center;
  align-items: center;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}