@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face {
  font-family: sf-pro;
  src: url(./assets/fonts/FontsFree-Net-SFProText-Regular-1.ttf);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sf-pro;
}

.App {
  height: 100%;
  width: 100%;
}

.login-page {
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
}

.hero-container {
  width: 50%;
  height: 100%;
  background: #007AFF;
}

/* .gif {
  align-self: center;
  
} */